<div class="container-fluid page__container p-0">
  <div class="row m-0">
    <div class="col-lg container-fluid page__container">
      <ol class="breadcrumb mt-5">
        <li class="breadcrumb-item">
          <%= link_to "Home", member_root_path %>
        </li>
        <li class="breadcrumb-item active">Edit <%= resource_name.to_s.humanize %></li>
      </ol>
      <h3 class="h2">Edit <%= resource_name.to_s.humanize %></h3>
      <% if current_member.provider.blank? %>
      <h4>Change Email Address</h4>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <% resource.errors.full_messages.each do |message| %>
        <span style="color: red; margin: 10px;"><b><%= message %></b></span>
      <% end %>
      <div class="card">
        <div class="list-group list-group-fit">
         <div class="list-group-item">
            <div
              class="form-group m-0"
              role="group"
              aria-labelledby="label-email"
            >
              <div class="form-row">
                <label class="col-md-3 col-form-label form-label" for="member_email">Your email address</label>
                <div class="col-md-9">
                  <div role="group" class="input-group input-group-merge">
                    <input class="form-control form-control-prepended" autofocus="autofocus" required="required" aria-required="true" type="email" value=<%= current_member.email %> name="member[email]" id="member_email" />
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="material-icons">email</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="alert-light d-flex mb-3">
              <i class="material-icons text-success mr-3">check_circle</i>
              <div class="text-body">
                we need your current password to confirm your changes.
              </div>
            </div>
            <div
              class="form-group m-0"
              role="group"
              aria-labelledby="label-password"
            >
              <div class="form-row">
                <label class="col-sm-3 col-form-label form-label" for="member_current_password">Current password</label>
                <div class="col-sm-9">
                  <div
                    role="group"
                    class="input-group input-group-merge form-control-prepended"
                  >
                    <input autocomplete="current-password" class="form-control form-control-prepended" required="required" aria-required="true" type="password" name="member[current_password]" id="member_current_password" />
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="far fa-key"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
        </div>
      </div>

      <h4>Change Password</h4>

      <div class="card">
        <div class="list-group list-group-fit">
          <div class="list-group-item">
            <div
              class="form-group m-0"
              role="group"
              aria-labelledby="label-password"
            >
              <div class="form-row">
                <label class="col-sm-3 col-form-label form-label" for="member_password">New password:</label>
                <div class="col-sm-9">
                  <div
                    role="group"
                    class="input-group input-group-merge form-control-prepended"
                  >
                    <input autocomplete="new-password" class="form-control form-control-prepended" type="password" name="member[password]" id="member_password" placeholder="New password" />
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="far fa-key"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div
              class="form-group m-0"
              role="group"
              aria-labelledby="label-password2"
            >
              <div class="form-row">
                <label class="col-sm-3 col-form-label form-label" for="member_password_confirmation">Confirm password:</label>
                <div class="col-sm-9">
                  <div
                    role="group"
                    class="input-group input-group-merge form-control-prepended"
                  >
                    <input autocomplete="new-password" class="form-control form-control-prepended" type="password" name="member[password_confirmation]" id="member_password_confirmation" placeholder="Confirm password" />
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="far fa-key"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="alert-light d-flex mb-3">
              <i class="material-icons text-success mr-3">check_circle</i>
              <div class="text-body">
                we need your current password to confirm your changes.
              </div>
            </div>
            <div
              class="form-group m-0"
              role="group"
              aria-labelledby="label-password"
            >
              <div class="form-row">
                <label class="col-sm-3 col-form-label form-label" for="member_current_password">Current password</label>
                <div class="col-sm-9">
                  <div
                    role="group"
                    class="input-group input-group-merge form-control-prepended"
                  >
                    <input autocomplete="current-password" class="form-control form-control-prepended" required="required" aria-required="true" type="password" name="member[current_password]" id="member_current_password" />
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="far fa-key"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <input type="submit" name="commit" value="Save Changes" class="btn btn-success" data-disable-with="Save Changes" />
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
      <h4>Change Email Address or Password</h4>
      <div class="card">
        <div class="list-group list-group-fit">
          <div class="list-group-item">
            <div class="alert-light d-flex">
              <i class="material-icons text-success mr-3">check_circle</i>
              <div class="text-body">
                Your account is logged in with your <%= current_member.provider %> account.<br />
                You cannot change your email address and password on this page.
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <h4 style="margin-top: 180px;">Delete My Account</h4>

      <div class="card">
        <div class="list-group list-group-fit">
          <div class="list-group-item">
            <div class="alert-light d-flex mb-3">
              <i class="material-icons text-danger mr-3">check_circle</i>
              <div class="text-body">
                If you delete your account, all your saved data will be lost.
              </div>
            </div>
            <div
              class="form-group m-0"
              role="group"
              aria-labelledby="label-password"
            >
              <p class="btn btn-danger btn-sm"><%= link_to "delete my account", member_registration_path, method: :delete,
                                                                                                          data: { confirm: "All of your stored data on this site will be deleted. Are you sure you want to delete your account?" } %></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
