<% content_for :title do %><%= "Forgot Password?" %><% end %>
<body class="login">
  <div class="d-flex align-items-center" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
      <div class="text-center mt-5 mb-1">
        <div class="avatar avatar-lg">
          <img src=<%= asset_pack_path("media/images/primary.svg") %> class="avatar-img" alt="Logo" />
        </div>
      </div>
      <div class="d-flex justify-content-center mb-5 navbar-light">
        <a href="/" class="navbar-brand m-0">GCV</a>
      </div>
      <div class="card navbar-shadow">
        <div class="card-header text-center">
          <h4 class="card-title">Forgot Password?</h4>
          <p class="card-subtitle">Recover your account password</p>
        </div>
        <div class="card-body">

          <div class="alert alert-light border-1 border-left-3 border-left-primary d-flex" role="alert">
            <i class="material-icons text-success mr-3">check_circle</i>
            <div class="text-body">An email with password reset instructions has been sent to your email address, if it exists on our system.</div>
          </div>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <% resource.errors.full_messages.each do |message| %>
            <b><%= message %></b>
          <% end %>
            <div class="form-group">
              <label class="email required" for="member_email">Email address:</label>
              <div class="input-group input-group-merge">
                <input autocomplete="email" class="form-control form-control-prepended" autofocus="autofocus" required="required" aria-required="true" type="email" value="" name="member[email]" id="member_email" placeholder="Your email address" />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="far fa-envelope"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <p><%= flash[:recaptcha_error] %></p>
              <%= recaptcha_v3(action: "password/reset") %>
            </div>

            <input type="submit" name="commit" value="Send instructions" class="btn btn-primary btn-block" data-disable-with="Send me reset password instructions" />
          <% end %>
        </div>
        <div class="card-footer text-center text-black-50">
          Remember your password? <a href="/members/sign_in">Login</a>
        </div>
      </div>
    </div>
  </div>

</body>
