<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <title><%= content_for?(:title) ? yield(:title) : "GuitarCollectionVirtual" %> | GCV - Guitars Archives Project Site</title>

    <!--== Favicon ==-->
    <%= favicon_pack_tag 'favicon.ico' %>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&display=swap" rel="stylesheet">

    <%= stylesheet_pack_tag "application", "member_application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "member_application", "data-turbolinks-track": "reload" %>
    <%= yield :head %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8CK6JWEHRL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8CK6JWEHRL');
    </script>
  </head>
  <%= render "partial/flash" %>
  <%= yield %>
</html>
